<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="description" content="Aula Virtual" />
    <meta name="author" content="Enchufate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Aula Virtual | UNAP</title>
    <link href="https://aulavirtual2.unap.edu.pe/images/themes/unap/favicon.ico" rel="icon">

    <link rel="stylesheet" type="text/css" href="https://aulavirtual2.unap.edu.pe/assets/vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://aulavirtual2.unap.edu.pe/assets/common/css/source/auth-main.css" />
    <link rel="stylesheet" type="text/css" href="https://aulavirtual2.unap.edu.pe/assets/common/css/source/forms/form-validation.css" />
    <link href="https://aulavirtual2.unap.edu.pe/css/login.css" rel="stylesheet" />
    <link href="https://aulavirtual2.unap.edu.pe/css/themes/unap/login.css" rel="stylesheet" />
    

    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/jquery/jquery.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/gsap/src/minified/TweenMax.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/common/js/common.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/js/login.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/lib/@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/toastr/toastr.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/js/shared.js"></script>
    
    <script src="https://aulavirtual2.unap.edu.pe/js/beginningannouncements.js"></script>


    <script src="https://aulavirtual2.unap.edu.pe/assets/vendors/angular/angular.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/lib/angular-scripts/angular-messages.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/lib/angular-scripts/angular-sanitize.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/lib/angular-scripts/angular-animate.min.js"></script>
    <script src="https://aulavirtual2.unap.edu.pe/app/app.js"></script>
    
    <script src="https://aulavirtual2.unap.edu.pe/app/Controllers/account-controller.js?v=NbbbcHOK1hq4WaKDAJfEHUN6ImJ4iPb5Th2Cs_JnMRY"></script>

</head>
<body class="theme-dark single-page single-page-inverse">
    <section class="wrapper">
        <div class="intro">
            <div class="left-ovh">
                <div class="left-side">
                    <input id="IsLockedOut" value="0" hidden />
<input id="Reason" value="" hidden />
<div class="m-login__wrapper" ng-controller="login">
    <form class="form">
        <a href="index.html#">
            <img class="logo" src="https://aulavirtual2.unap.edu.pe/images/themes/unap/logo.png" draggable="false">
        </a>
        <h1>AULA VIRTUAL</h1>
        <div ng-if="message != ''" class="text-danger" style="font-weight: 500;" ng-bind-html="message"></div>
        <div class="group">
            <input ng-model="username" placeholder="USUARIO" autocomplete="off" />
            <img class="ico" src="https://aulavirtual2.unap.edu.pe/images/login/user.svg" />
            <div class="bar"></div>
        </div>
        <div class="group">
            <input ng-model="password" type="password" placeholder="CONTRASEÑA" />
            <i ng-if="password != '' && password != null" class="fa" ng-class="{'fa-eye' : show, 'fa-eye-slash' : !show}" ng-click="swap();"></i>
            <img ng-if="password == '' || password == null" class="ico" src="https://aulavirtual2.unap.edu.pe/images/login/pass.svg" />
            <div class="bar"></div>
        </div>
        <div class="group">
            <button id="m_login_signin_submit" class="btn button-submit">
                INGRESAR
            </button>
            <a class="forget-password-label" href="https://aulavirtual2.unap.edu.pe/account/ForgotPassword">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>
<!--begin::Modal-->
<input type="hidden" id="BeginningAnnouncement" value="true" />
<!--end::Modal-->

                    <div style="width:145px;left:25px;bottom:25px;position: fixed;">
                        <img src="https://aulavirtual2.unap.edu.pe/images/login/logo.svg" style="" class="logo" />
                    </div>
                </div>
                <div class="triangle"></div>
            </div>
            <div class="triangle right"></div>
            <div class="container-shape one">
                <div class="shape one"></div>
            </div>
            <div class="container-shape two">
                <div class="shape two"></div>
            </div>
            <div class="container-shape right three">
                <div class="right shape three"></div>
            </div>
            <div class="container-shape right four">
                <div class="right shape four"></div>
            </div>
            <div class="container-shape right five">
                <div class="right shape five"></div>
            </div>
        </div>
    </section>
    
</body>
</html>